/* Global Font*/
* {
    font-family: "Noto Sans SC";
}
/* Global Userpage */
#navbar{
    background: white;
    border: grey solid 0.5px;
}
a.navbar-brand{
    color: #49B949;
    font-weight: 600 !important;
    font-size: 2.21em !important;
}

a.navbar-brand:hover{
    color: #49B949;
}

.widget-header{
    display: none;
}
.dropdown-modal, dropdown-toggle, .nav-user-photo, .user-info, .fa-caret-down, .tl_errorq_bg {
    display: none;
}
span.menu-text, span.corner-marker-only {
    display: none !important;
}

i.menu-icon {
    margin: 0;
    padding: 0;
}

#moduleList{
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0);
    border: none;
    position: fixed !important;
    z-index: 114514;
    width: 0px;
}

ul#moduleList:hover{
    background: rgba(0,0,0,0);
    border: none;
    width: 0px;
}

#studentPersonal{
    position: fixed !important;
    z-index: 114514 !important;
    top:0px;
    right: 20px;
}
.menu-icon{
    position: fixed !important;
    z-index: 1919810 !important;
}

#sidebar {
    z-index: 114514 !important;
    background: rgba(0,0,0,0);
    width: 0px;
}

.active {
    border: none;
}

div.main-content {
    margin-left: 0 !important;
}

.tl-item-data, .pull-right {
    display: none;
}