/*Test Function*/



/* Mainpage */

div.topbar, div.bimg, div.introduce-box, div.tl-footer, ul.tl-header-nav, #js-ewm{
    display: none;
}

.logo-2 {
    position: fixed;
    top: 30%;
    left: 43%;
}

.link-login-btn {
    position: fixed;
    top: 45%;
    left: 46%;
    width: 5em;
    font-size: 2em;
    height: 2.5em;
    padding: 0.65em 0 0.65em 0; 
    margin: 0;
    border: #00aaff solid 0.1em;
    background: rgba(0,0,0,0);
    color: #00aaff;
}

.link-login-btn:hover {
    border: none;
    padding: 0.75em 0 0.75em 0; 
}

/* Login Page */

.login-container {
    background: none !important;
    padding-left: 0;
}

#footer {
    display: none;
}

.header-inner .logo {
    height: 48px;
    line-height: 48px;
    font: 600 32px "Noto Sans SC";
    color: #fff;
}

/* Global Styles (Font+width)*/
* {
    font-family: "Noto Sans SC" !important;
}

div.main-content {
    margin-left: 0 !important;
}

html {
    min-width: 300px !important;
}

.col-m-6 {
    min-width: 30em;
}
.widget-main.clearfix>.pull-right {
    display: none;
}

/* Global Userpage */
/* Navbar */
#navbar{
    background: white;
    border-bottom: grey solid 0.5px;
    position: fixed;
}

a.navbar-brand{
    color: #49B949;
    font-weight: 600 !important;
    font-size: 2.21em !important;
    padding-left: 0;
}

a.navbar-brand:hover{
    color: #49B949;
}

.dropdown-modal, dropdown-toggle, .nav-user-photo, .user-info, .fa-caret-down, .tl_errorq_bg {
    display: none;
}

/* List of Homework&Classes */
.padding-20 {
    background: none !important;
    border: grey solid 1px;
}

.tl-item-data, button.btn-green, .icon-question-grey, .widget-body.padding-20>.widget-main.clearfix>.tl-paper-op>.btn-orange {
    display: none;
}

.widget-main.clearfix>.pull-left {
    float:right !important
}

.teacher-expediting-tip {
    border: #FF7400 solid 0.75px;
    background: none;
}

div.widget-body.padding-20 {
    z-index: 1 !important;
}

.ellipsis {
    line-height: 40px;
    height: 40px;
    padding: 0;
}

/*Sidebar*/

#sidebar {
    z-index: 114514 !important;
    background: rgba(0,0,0,0);
    width: 0 !important;
}

span.menu-text, span.corner-marker-only {
    display: none !important;
}

i.menu-icon {
    margin: 0;
    padding: 0;
}

.skin-stu .nav-list>li:before {
    display: none !important;
}

.skin-stu .nav-list>li.active>a,
.skin-stu .nav-list>li.active:hover>a,
.skin-stu .nav-list>li.active>a:focus {
    color: #48b750;
    background: rgba(0,0,0,0) !important;
}

.nav-list>li>a {
    font-size: 16px;
    padding: 0;
}

.skin-stu .nav-list>li>a:hover,
.skin-stu .nav-list>li>a:focus {
    color: #48b750;
    background: rgba(0,0,0,0) !important;
}

#studentPersonal, #myHomework, #myWrongQuestion, #myliveCourse, .fa-icon-news, .fa-icon-xquan, #liveCourse, #courseHistory{
    position: fixed !important;
    z-index: 114514 !important;
    top:13px !important;
}

#studentPersonal {
    right: 240px;
}

#myHomework {
    right: 200px;
}

#myWrongQuestion {
    right: 160px;
}

.fa-icon-news, #myInformation {
    right: 120px;
}

.fa-icon-xquan {
    right: 80px;
}

#liveCourse, #myliveCourse {
    right: 40px !important;
}

#courseHistory {
    right: 0px;
}

/* Homework page selector*/

.scroll-more {
    width: 100%;
    left: 0;
    padding: 20px 43px
}

#subject-select {
    z-index: 114514;
}

/* Notifications */
.tl-nav-tab-wrap.tl-nav-tabs-fixed.clearfix {
    left: 0;
}

/* Question Center */
#learning>#question-plaza>a, #project-learning>a, #project-typicalCase>a {
    padding-left: 5px
}

/* History Class */
#searchArea>a.pull-left.btn.link-btn.col-green {
    display: none;
}

h4.cursor_p.clearfix.no-margin-top, div.tl-paper-title.clearfix.no-border-right.no-margin-left, .tl-paper-title.clearfix.no-border-right.no-margin-left>.cursor_p.clearfix.no-margin-top>a.live-tit.ellipsis.pull-left {
    height: 25px;
}
